/*logo*/
#logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*nav*/
.container-nav {
  font-family: "bebas neue", cursive;
  font-size: 25px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  color: black;
  flex-wrap: wrap;
}

.container-nav:hover {
  color: blue;
}

/*body*/

html,
body {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
}

.hairstyles-body-container {
  display: flex;
  flex-direction: column;
}

.collapsible {
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  font-family: "bebas neue", cursive;
}

.active,
.collapsible:hover {
  background-color: deeppink;
}

.filters-menu {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*filters*/
.hair-state,
.duration,
.leave-in-style,
.ability,
.length,
h3 {
  font-family: "oswald";
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: "bebas neue";
  text-align: center;
  font-size: 40px;
}

h4 {
  color: black;
}

/*video grid*/
.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*no results message*/

.no-results-text {
  font-family: "bebas neue";
  text-align: center;
  font-size: 40px;
  display: none;
  color: red;
}

/*social media banner*/
li {
  list-style-type: none;
  margin: 10px 30px;
  display: inline-block;
  padding: 20px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 40%;
  transform: 0.5s;
  text-align: center;
}

li:hover {
  border: 1px solid blue;
  color: blue;
  transition: 0.5s;
  border-radius: 0%;
}

.social-media {
  font-family: "oswald";
  padding: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
}

@media only screen and (max-width: 350px) {
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
  }
}
