
  /*logo*/
#logo {
  display: flex;
  justify-content: center;
  padding: 20px; 
  
}

  /*nav*/
.container-nav {
  font-family: 'bebas neue', cursive;
  font-size: 25px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  color:black;
  flex-wrap: wrap;   
 
}

.container-nav:hover {
  color: blue;
  
}

  /*body*/

html, body {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
  
}

.body-container {
  display: flex;
  flex-direction: column;

}

.about-container {
  display: grid;

}

.about-title {
  font-family: 'bebas neue';
  font-size: 60px;
  margin: auto;
  padding-top: 30px;
  position: absolute;
  left: 0;  
  width: 100%;
  text-align: center;
  color:black;

}

.about-para {
  font-family: 'oswald';
  padding: 30px;
  text-align: center;
  
}

img {
  padding-top: 30px;
  
}

.mailing-list {
  font-family: "oswald";
  display: flex;
  align-items: space-around;
  flex-direction: column;
  padding: 20px;
  text-align: center;

}

.email-submit {
  background-color: deeppink;
  border: fancy;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: "oswald";
  
}
