
/*index*/
/*logo*/
#logo {
  display: flex;
  justify-content: center;
  margin: 75px; 
  
  }
    
/*nav*/
.container-nav {
  font-family: 'bebas neue', cursive;
  font-size: 40px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  color:black;
  flex-wrap: wrap;

}
    
.container-nav:hover {
  color: blue;

}

/*body*/
    
    
html, body {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;

  }
  
.hairstyles-body-container {
  display: flex;
  flex-direction: column;
  
}

input {

  border: fancy;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 15px 2px;
  font-family: "oswald";
}
  
  /*filters*/
.hair-state,
.duration,
.leave-in-style,
.ability,
.length,
h3 {
  font-family: 'oswald';
  padding-left: 20px;
  text-align: center;
  font-size: 15px;

}

h2 {
  font-family: 'bebas neue';
  text-align: center;
  font-size: 40px;
}

h4 {
  color: black;

}

/*video grid*/
.video-container { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

@media only screen and (max-width: 350px) {
  .video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  
  }
}
    
    
/* email */

.mailing-list {
  font-family: "oswald";
  display: flex;
  align-items: space-around;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  
}
  
.email-submit {
  border: fancy;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 4px 2px;
  font-family: "oswald";
  background-color: deeppink;
}
  